@keyframes load {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.3);
  }
}
section.callback {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.98);
  z-index: 1000;
  color: white;

  p.info {
    font-size: 1.6rem;
    text-align: center;

    span.loading {
      display: block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 4px white solid;
      border-radius: 50%;
      margin: auto;
      animation: load 0.6s infinite alternate;
    }
  }
}
