# La cle public n'est pas accessible
<files pubkey.pem>
Order Deny,Allow
Deny from all
</files>

# Limiter l'appel de l'IPN (retour.php) aux server d'e-transactions
<files retour.php>
Order Deny,Allow
Deny from all
# Allow pre-prod e-transactions ip server
Allow from 195.101.99.73
Allow from 195.101.99.67
# Allow prod e-transactions ip server
Allow from 194.2.160.81
Allow from 194.2.160.89
Allow from 195.25.67.9
Allow from 195.25.67.1
Allow from 195.25.7.145
Allow from 194.2.160.90
Allow from 195.25.67.10
# Allow localhost for development test
Allow from 127.0.0.1
Allow from localhost
</files>
