# Redirect HTTPS
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTPS} !=on [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#</IfModule>

# La cle public n'est pas accessible ( pourquoi pas ? XD )
<files pubkey.pem>
Order Deny,Allow
Deny from all
</files>

# Limiter l'appel de l'IPN (ipn.php) aux server d'e-transactions
<files ipn.php>
Order Deny,Allow
Deny from all
# Allow e-transactions ip server
Allow from 194.2.122.158
Allow from 194.2.122.190
Allow from 195.101.99.76
Allow from 195.25.67.22
Allow from 195.25.7.166
</files>
