.form {
  display: block;
  box-sizing: border-box;
  padding: 30px;
  background-color: #383a6d;
  color: white;
  line-height: 30px;
  font-size: 1.3rem;

  div {
    width: 80%;
    max-width: 400px;
    margin-bottom: 25px;

    input {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      box-sizing: border-box;
      border: none;
      font-size: 1.3rem;
      transition: all 0.3s ease-out;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 40px;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    }

    input:hover {
      box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.20);
    }

    input[type="submit"] {
      background-color: #4CADC9;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
    }

    input[type="submit"]:hover {
      box-shadow: 0px 0px 15px 5px rgba(76,173,201,0.20);
    }
  }
}
