.form {
  display: block;
  box-sizing: border-box;
  padding: 30px;
  background-color: #383a6d;
  color: white;
  line-height: 30px;
  font-size: 1.3rem;
  box-shadow: 1px 1px 12px #383a6d;

  div {
    width: 80%;
    max-width: 400px;
    margin-bottom: 25px;

    input {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      box-sizing: border-box;
      border: none;
      font-size: 1.3rem;
      transition: all 0.3s ease-out;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 40px;
      box-shadow: 0px 0px 7px 2px rgba(0, 255, 255, 0.2);
    }

    input:focus {
      outline: none;
    }

    input:hover {
      box-shadow: 0px 0px 12px 4px rgba(0, 255, 255, 0.3);
    }

    input[type="submit"] {
      background-color: #4CADC9;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
      border-radius: 0;
    }

    input[type="submit"]:hover {
      box-shadow: 0px 0px 15px 5px rgba(76,173,201,0.20);
    }

    .shadowred {
      box-shadow: 0px 0px 15px 5px rgba(208, 129, 0, 0.6);
    }

    p {
      position: relative;
      margin: 0;

      .content {
        position: absolute;
        top: 5px;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.1rem;
        background-color: black;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        background-color: rgba(20, 150, 150, 0.98);
        display: none;
        transition: all 0.3s ease-out;
        z-index: 300;
      }

      .infobulle {
        font-size: 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        transition: all 0.2s ease-out;
        background-color: white;
        box-sizing: border-box;
        border: 1px dotted white;
        z-index: auto; // Mobile compatibility

        &::after {
          content: "?";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          color: #383a6d;
        }
        &:hover {
          background-color: #383a6d;

          &::after {
            color: white;
          }
        }
      }

      .selected {
        background-color: #383a6d;
        z-index: 400 !important; // Mobile compatibility

        &::after {
          content: "X";
          color: white;
        }
        &:hover {
          background-color: white;

          &::after {
            color: #383a6d;
          }
        }
      }
    }
  }
}
.no-autofill::-webkit-credentials-auto-fill-button {
     visibility: hidden;
}
