.info {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;

  p {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgba(20, 150, 150, 0.3);
    border-radius: 5px;
    letter-spacing: 1.5px;
  }
}
