@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: white;
  color: #646464;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0 0 200px 0;
  overflow: scroll;
  padding: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-vertical {
    @extend .flex;
    flex-direction: column;
  }

  &-horizontal {
    @extend .flex;
    flex-direction: row;
  }
}
