header.entete {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;

  img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  h1 {
    margin: 20px 0;
    color: #383a6d;
    font-weight: bolder;
  }
}
