@keyframes light {
  from {
    color: #646464;
  }
  to {
    color: rgba(163, 29, 20, 0.8);
  }
}
.result {
  justify-content: space-around;
  min-height: 20px;
  width: 90%;
  margin: 0 auto 200px auto;
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.3rem;

  p {
    text-align: center;
    line-height: normal;
    word-spacing: 2px;

    .pop {
      font-size: 1.4rem;
      font-weight: bold;
      animation: light 1.6s infinite alternate ease;
    }
  }

  .exemple {
    color: white;
    font-weight: bold;
  }

  a.button {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: 40px;
    padding: 2px 15px 2px 15px;
    background-color: rgba(0, 255, 172, 1);
    text-decoration: none;
    line-height: 36px;
    transition: all 0.2s ease-out;

    &:hover {
      box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
    }
  }
}
.found {
  background-color: rgba(0, 255, 255, 0.3);
}
.error {
  background-color: rgba(208, 30, 0, 0.3);
}
.alert {
  background-color: rgba(208, 129, 0, 0.3);
}
