footer.piedpage {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #383a6d;
  color: white;
  font-size: 1rem;
  box-shadow: 1px -1px 12px #383a6d;

  p {
    width: 100vw;
    height: 49px;
    justify-content: center;
    margin: 0;

    &:nth-child(2) {
      height: 25px;
      margin-bottom: 5px;
    }

    span {
      display: block;
      width: 49px;
      height: 31px;
      background-image: url("../../assets/mode-paiement_sprite.png");
      margin: 0 25px;
    }

    span:nth-child(4) {
      background-image: url("../../assets/paylib.png");
      background-size: contain;
      background-position: top left;
      background-repeat: no-repeat;
      width: 63px;
      height: 31px;
    }

    @media screen and (max-width: 640px) {
      span {
        margin: 0 7px;
      }

      &:nth-child(2) {
        font-size: 0.8rem;
      }
    }

    @for $i from 1 through 3 {
      span:nth-child(#{$i}) {
        @if $i < 2 {
          background-position: 0px top;
        } @else {
          $retard: $i - 1;
          background-position: -49px*$retard top;
        }
      }
    }
  }

  a {
    color: white;
  }
}
